* text=auto !eol
/a.f -text
/amap.f -text
/bigxy4.h -text
/conv_endian.f -text
/dates.h -text
/georead.f -text
/global_landuse.f -text
/indices.h -text
/jimcc.f -text
/jimco.f -text
/latltoij.f -text
/makefile -text
/map.h -text
/mapproj.h -text
/ncdf.f -text
/newmpar.h -text
/nfft.f -text
/nterread.f -text
/old-veg.f -text
/old_terread.f -text
/parm.h -text
/read10km.f -text
/read1km.f -text
/read250.f -text
/read_dem.f -text
/read_ht.f -text
/read_veg.f -text
/readdem.f -text
/rwork.h -text
/setxyz.f -text
/t.f -text
/terread.f -text
/topfilt.f -text
/topgencc.f -text
/tt.f -text
/vecsuv.h -text
/veg.f -text
/veg_read.f -text
/xyzinfo.h -text
